@model IEMS_WEB.Models.SSO.SSO_Response


@{
    ViewBag.Title = "CircleOffice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{

    <div class="container">
        <div style="height:100%;display:flex;justify-content:center;align-items:center!important;" class="row">

            @Html.HiddenFor(m => m.Token, new { @class = "form-control", id = "hdnToken" })

            <br />
            @*<h3 class="text-center">Login</h3>*@
            <form class="login-form">

                <p style="text-align:center;font-size:25px;color:red;">User Is Not Mapped to IEMS 2.0.......!</p>


            </form>
            <input type="button" value="Back To Home" class="btn btn-success" id="btnBacktoHome" onclick="BackToHome()" />


        </div>
    </div>


}

<script type="text/javascript">

    


    $(document).ready(function () {


        //alert();

    });
    function BackToHome() {
       
        var SSO_Back_URL = "https://ssotest.rajasthan.gov.in/sso?userdetails=";
        var Token = $('#hdnToken').val();
        window.location.href = SSO_Back_URL + Token;
    }
</script>