@{
    ViewData["Title"] = "TEST FILE Page";
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}
@using (Html.BeginForm("TESTFILE", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("_FileUpload")

    <button type="submit" id="btnSave" value="Submit" class="btn btn-success" data-transalate="Submit">Submit</button>
}

<script type="text/javascript">





    // Add a JavaScript function to initialize the date picker
    $(document).ready(function () {

        $("#btnSave").click(function () {


            if (!ValidateFiles()) {
                return false;
            }


        });

    });
</script>